@font-face {
  font-family: "iconfont"; /* Project id 2867742 */
  src: url('https://at.alicdn.com/t/font_2867742_u6b1q51d1wn.woff2?t=1634452517879') format('woff2'),
       url('https://at.alicdn.com/t/font_2867742_u6b1q51d1wn.woff?t=1634452517879') format('woff'),
       url('https://at.alicdn.com/t/font_2867742_u6b1q51d1wn.ttf?t=1634452517879') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chucunguanli:before {
  content: "\e608";
}

.icon-quxiao:before {
  content: "\e60e";
}

.icon-close:before {
  content: "\e749";
}

.icon-check_circled:before {
  content: "\e747";
}

.icon-4_round:before {
  content: "\e63f";
}

.icon-1_round:before {
  content: "\e63e";
}

.icon-3_round:before {
  content: "\e640";
}

.icon-2_round:before {
  content: "\e641";
}

.icon-6_round:before {
  content: "\e642";
}

.icon-5_round:before {
  content: "\e643";
}

.icon-zhuanpan:before {
  content: "\e600";
}

.icon-wodewanjia:before {
  content: "\e67c";
}

.icon-puke:before {
  content: "\e605";
}

.icon-navigation:before {
  content: "\e612";
}
