@font-face {
  font-family: "iconfont"; /* Project id 2867742 */
  src: url('https://at.alicdn.com/t/font_2867742_9dtlpyldrsl.woff2?t=1634743425710') format('woff2'),
       url('https://at.alicdn.com/t/font_2867742_9dtlpyldrsl.woff?t=1634743425710') format('woff'),
       url('https://at.alicdn.com/t/font_2867742_9dtlpyldrsl.ttf?t=1634743425710') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daohangquanzi:before {
  content: "\e64f";
}

.icon-shiquan:before {
  content: "\e698";
}

.icon-quxiao:before {
  content: "\e60e";
}

.icon-close:before {
  content: "\e749";
}

.icon-check_circled:before {
  content: "\e747";
}

.icon-zhuanpan:before {
  content: "\e600";
}

.icon-wodewanjia:before {
  content: "\e67c";
}

.icon-puke:before {
  content: "\e605";
}

.icon-navigation:before {
  content: "\e612";
}

